// Override default variables before the import

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

.card-left-side {
  background-color: #684e6e;
  color: #fff;
  border-radius: 5px;
}

.btn-purple {
  color: #fff;
  background-color: #8f659a;
  border-color: #8f659a;
}

.btn-purple:hover {
  color: #fff;
}
